{% extends "base.html" %}

{% block content %}


<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>DIP DIVE: FAQ</title>
  <link rel="icon" type="image/x-icon" href="./static/images/DIP-DIVE_favicon.png">
    
    <link rel="stylesheet" href="static/css/faq.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
</head>

    <body>
        <div class="container">
          <br><h1 style="font-size: 20px;"><b>Frequently Asked Questions</b></h1><br>
          <div class="faq">
            <div class="faq-item">
              <button id="faq-button-1" aria-expanded="false">
                <span class="faq-title">What is depression?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                Depression is a mood disorder that causes a persistent feeling of sadness and loss of interest. Also called major depressive disorder or clinical depression, it affects how you feel, think and behave and can lead to a variety of emotional and physical problems.<br>
                </p>
              </div>
            </div>


            <div class="faq-item">
              <button id="faq-button-1" aria-expanded="false">
                <span class="faq-title">How do I get help for depression?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  Without treatment, depression can be extremely serious, and even life-threatening, so it's extremely important to seek help if you are having depression symptoms.
                  It is important to diagnose it at an early stage. If you feel you have symptoms of depression, just head up to 'DIP-DIVE' and diagnose yourselves with any feature you like. 
                  If your result is positive, we will provide you with necessary steps to be taken further.<br>
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-2" aria-expanded="false">
                <span class="faq-title">How will your app benefit me?</span>
                <span class="icon" aria-hidden="true"></span>
              
              </button>
              <div class="faq-content">
                <p>
                  If you were diagnosed with depression, we ensured that you will be cured at the proper time in order to restore your future. 
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-3" aria-expanded="false">
                <span class="faq-title">Why depression?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  You are not suffering from a chemical imbalance in your brain. You are
                suffering from a social and spiritual imbalance in how we live. Much more than
                you’ve been told up to now, it’s not serotonin; it’s society. It’s not your brain;
                it’s your pain. Your biology can make your distress worse, for sure. But it’s not
                the cause. It’s not the driver. It’s not the place to look for the main explanation,
                or the main solution.
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-4" aria-expanded="false">
                <span class="faq-title">I'm getting mood swings everyday how will dip-dive help me to analyze?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  From the profile section itself you can download your history and then analyze yourself. Also you can show this report to your consultant for further medications and treatment. 
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-5" aria-expanded="false">
                <span class="faq-title">Is it mantatory for me to signup?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  Yes, it is mandatory for you to sign up on DIPDIVE. The credentials will be used for generating reports and storing your data so that when you come back, your data isn't lost anywhere.
                
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-6" aria-expanded="false">
                <span class="faq-title">Are there any special hardware and software requirements in order to use DIPDIVE?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  No, just a smartphone or a computer with webcam and a working microphone is sufficient. 
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-7" aria-expanded="false">
                <span class="faq-title">What is the target area of your application?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  The Target Area is mainly the Medical sector which includes: Clinical Practices, Research Area and Self diagnosis.  
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-8" aria-expanded="false">
                <span class="faq-title">How your app detects depression?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  Using sentiment analysis methods and machine learning approaches, depression detection can be done with the help of 'textual,
                  audio, and video cues.  
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-9" aria-expanded="false">
                <span class="faq-title">What is the goal for dip-dive?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  Replace traditional & existing system of depression detection using automatic detection technique.  
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-10" aria-expanded="false">
                <span class="faq-title">What if i'm diagnosed with high level of depression?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  There is a personalised recommendation with automated sms or email generation system which will guide you with further steps to be taken.  
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-11" aria-expanded="false">
                <span class="faq-title">How is your application cost and time effective?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  It eliminates the chances of visiting doctors if depression level is minute. It will be a better approach in reducing your waiting time during doctor's visit if your appointment is scheduled earlier.    
                </p>
              </div>
            </div>
            <div class="faq-item">
              <button id="faq-button-12" aria-expanded="false">
                <span class="faq-title">What is the accuracy?</span>
                <span class="icon" aria-hidden="true"></span>
              </button>
              <div class="faq-content">
                <p>
                  XYZ reason.  
                </p>
              </div>
            </div>
          </div>
        </div>
        
        <script >
            const items = document.querySelectorAll('.faq button');

            function togglefaq() {
            const itemToggle = this.getAttribute('aria-expanded');

            for (i = 0; i < items.length; i++) {
                items[i].setAttribute('aria-expanded', 'false');
            }

            if (itemToggle == 'false') {
                this.setAttribute('aria-expanded', 'true');
            }
            }

            items.forEach((item) => item.addEventListener('click', togglefaq));

        </script>
      </body>

{% endblock %}



 







