{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>DIP DIVE: Home</title>
    <link rel="icon" type="image/x-icon" href="./static/images/DIP-DIVE_favicon.png">
    
    <style>
        h1 {
            text-align: center;
            color: black;
            transition: 0.5s;
        }
 
        h1:hover {
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                0 3px 0 #ccc, 0 4px 0 #ccc,
                0 5px 0 #ccc, 0 6px 0 #ccc,
                0 7px 0 #ccc, 0 8px 0 #ccc,
                0 9px 0 #ccc, 0 10px 0 #ccc,
                0 11px 0 #ccc, 0 12px 0 #ccc,
                0 20px 30px rgba(0, 0, 0, 0.5);
        }
    </style>
    </head>
<body>
    <div>
    <img src="./static/images/DIP-DIVE.png" width="100%">

    </div>
    <br><h1 style="font-size: 30px; font-family:Aileron"><b>SENTIMENT ANALYSIS FOR DEPRESSION DETECTION</b></h1><br>
        <div  style="width: 75%; padding-top: 56.2500%;
          padding-bottom: 48px;  margin-left: 17%; overflow: hidden; justify-content: center;
          border-radius: 8px; will-change: transform; text-align: center; align-content: center;">
        <iframe align="center" loading="lazy" style="position: fixed; 
          width: 83.5%; height: 65%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
          src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAEz27St4t0&#x2F;view?embed" allowfullscreen="allowfullscreen"  allow="fullscreen"></iframe>
        </div>





        <!--img src="{{url_for('static', filename='images/dream.png')}}" alt="Keep Smiling" width="400" height="400" align="right"-->
</body>
</html>

{% endblock %}













