{% extends 'base.html' %}
{% block content %}
  <h1 style="font-size: 20px;"><b>Reset Password</b></h1><br>

  <p>
    Please enter the email that you registered with.
    You will be sent an email that will allow you to reset your password.
  </p>
<div class="reset_div">
  <form method="POST" action="{{ url_for('auth.reset') }}">
  
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="u_email" required>
    <br><br>
    <input type="submit" class="reset" value="Submit">
  </form>
</div>
{% endblock %}