{% extends "base.html" %}

{% block content %}
<html>
    <h1 class="tnc">TERMS AND CONDITIONS</h1>
<div class="terms_con">




<p>1. By using "DIP-DIVE", you aggree that your personal data will be used for depression detection and prediction purpose.</p>
<p>2. "DIP-DIVE" is not completely recommended as a treatment to depression, but you must follow whatever instructions been provided to you. </p>
<p>3. "DIP-DIVE" is completely a sample based project to demonstrate the methodology of "SENTIMENT ANALYSIS FOR DEPRESSION DETECTION". </p>
<p>4. "DIP-DIVE" is solely a copyright of team Dip-dive and its distribution will not be entertained.</p>
<p>5. If you’re under the age required to manage your own "DIP_DIVE" Account, you must have your parent or legal guardian’s permission to use a Google Account. Please have your parent or legal guardian read these terms with you.</p>
<p>6. What you can expect from us is: Provide a broad range of useful services</p>
<br><br><p>We’re constantly developing new technologies and features to improve our services. In case of new ideas, suggestions and updations please write us at "dipdive268@gmail.com"</p>
</div>
</html>
{% endblock %}